:root {
    --color-active: #27b9cc;
    --color-inactive: #8a8a8a;
    --color-invalid: #d95559;
    --color-active--054: #8fd9e3;
    box-sizing: border-box;
    --form-background: #fafafa;
}

.app-topbar {
  background-color: var(--color-mono--700);
  color: var(--color-mono--300);
  font-size: 14px;
}

.app-content {
  padding: 16px;
}

.example-section {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.example-section__heading {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.example-section__content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.example-section__content > * {
    margin-bottom: 20px;
    max-width: 300px;
}

@media (min-width: 400px) {
}

@media (min-width: 730px) {
    .example-section__content {
        flex-direction: row;
        align-items: initial;
    }

    .example-section__content > * {
        margin-right: 20px;
        max-width: unset;
    }

    .example-section__heading {
        text-align: left;
    }

}

@media (min-width: 4080px) {

    .example-section__content {
        flex-direction: row;
        align-items: initial;
    }

    .example-section__content > * {
        margin-right: 50px;
    }

    .example-section__heading {
        text-align: left;
    }
}


