:root {
    --color-active: #27b9cc;
    --color-inactive: #8a8a8a;
    --color-invalid: #d95559;
    --color-active--054: #8fd9e3;
    box-sizing: border-box;
}

.app-topbar {
  background-color: var(--color-mono--700);
  color: var(--color-mono--300);
  font-size: 14px;
}

.app-content {
  padding: 16px;
}

.example-section {
    display: flex;
    flex-direction: row;
}

.example-section > * {
    padding: 20px;
}

.schema-source {
    line-height: 1.3;
    padding: 20px;
}

code-sample {
    width: 300px;
    overflow: auto;
}

code-sample pre {
    margin: 0;
}

