
.jf-checkbox {
    width: 280px;
    max-width: 100%;
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0;
    font-size: 16px;
    vertical-align: top;
}

.jf-checkbox__input {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    position: absolute;
    border: 0;
    appearance: none;
    opacity: 0;
}

.jf-checkbox__label {
    cursor: pointer;
}

.jf-checkbox__box-outline {
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 2px;
    border-radius: 2px;
    border: 2px solid #0000008a;
    cursor: pointer;
    z-index: 2;
}

.jf-checkbox__tick-outline {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 0 0;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background;
}


.jf-checkbox--on .jf-checkbox__tick-outline {
    background: var(--color-active) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K);
}


.jf-checkbox--on .jf-checkbox__box-outline {
    border: 2px solid var(--color-active);
}


.jf-checkbox__helper-text {
    font-size: 12px;
    padding-top: 4px;
    padding-right: 32px;
    color: rgba(0, 0, 0, 0.54);
}

.jf-checkbox--invalid .jf-checkbox__helper-text {
    color: var(--color-red--500);
}


.jf-checkbox--disabled .jf-checkbox__label,
.jf-checkbox--disabled .jf-checkbox__helper-text {
    color: var(--color-inactive);
    cursor: default;
}

.jf-checkbox--disabled .jf-checkbox__tick-outline {
    background-color: var(--color-inactive);
}

.jf-checkbox--disabled .jf-checkbox__box-outline {
    border-color: var(--color-inactive);
    cursor: default;
}

/* HOVER */

.jf-checkbox__box-outline:after {
    background-color: lightgrey;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    opacity: 0;
    border-radius: 50%;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.jf-checkbox:hover .jf-checkbox__box-outline:after {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    opacity: 0.2;
}

.jf-checkbox:active .jf-checkbox__box-outline:after {
    opacity: 0.4;
}

.jf-checkbox--on .jf-checkbox__box-outline:after {
    background-color: var(--color-active);
}

.jf-checkbox--disabled:hover .jf-checkbox__box-outline:after {
    opacity: 0;
}

.jf-checkbox--disabled {
    opacity: 0.54;
}

