@import '../node_modules/@ubio/css/index.css';
@import './app.css';
@import './json-view.css';
@import './tab.css';
@import './json-viewer.css';
@import './json-form.css';

.card {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
    border-radius: 4px;
    overflow: hidden;
    max-width: 500px;
}

.card__title {
    font-size: 16px;
    display: block;
    padding: 10px;
}
