.jf-element {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
}

.jf-element--hidden {
    display: none;
}

.jf-helper-text {
    margin-top: 8px;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.jf-element--invalid .jf-helper-text {
    color: var(--color-invalid);
}
