.tab {
  border-bottom: 3px solid transparent;
  display: inline-block;
  font-size: 14px;
  min-width: 160px;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
  height: 48px;
  line-height: 48px;
  color: rgba(255,255,255,.7);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.tab--active {
  color: white;
  cursor: default;
  border-bottom: 3px solid var(--color-red--500);
}

