.jf-textfield {
    position: relative;
    height: 56px;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 280px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    background-color: #e8e8e8;
    color: #00000099;
    outline: none;
}

.jf-textfield--outlined {
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.jf-textfield:hover {
    background-color: #dedede;
    color: #000000de;
}

.jf-textfield--focused.jf-textfield--outlined {
    box-shadow: inset 0 0 0 2px var(--color-active);
}

.jf-textfield--focused:hover {
    background-color: #e8e8e8;
    color: #00000099;
}

.jf-textfield--outlined:hover {
    background: white;
}

.jf-textfield__input {
    border: none;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    outline: none;
    display: block;
    font-size: 16px;
    font-family: var(--font-family);
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 12px;
    width: calc(100% - 26px);
    background: 0 0;
    text-align: left;
    color: inherit;
    caret-color: var(--color-active);
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
}

.jf-textfield--focused .jf-textfield__input {
    /* color: var(--color-active); */
    color: inherit;
}

.jf-textfield--outlined.jf-textfield--empty .jf-textfield__label, .jf-textfield--empty .jf-textfield__label {
    top: 21px;
    font-size: 16px;
}

.jf-textfield--focused .jf-textfield__label {
    color: var(--color-active);
    visibility: visible;
    font-size: 12px;
    top: 10px;
}

.jf-textfield__label {
    color: var(--color-inactive);
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    bottom: 0;
    top: 6px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    box-sizing: border-box;
}

.jf-textfield--empty .jf-textfield__label {
    font-size: 16px;
}

.jf-textfield--outlined .jf-textfield__label {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    left: 12px;
    bottom: auto;
    right: auto;
    width: auto;
    background-color: white;
}

.jf-textfield--focused.jf-textfield--outlined .jf-textfield__label {
    top: -6px;
    font-size: 12px;
}

.jf-textfield--focused .jf-textfield__label {
    top: 6px;
    font-size: 12px;
}

.jf-textfield--outlined .jf-textfield__label {
    top: -6px;
}

.jf-textfield--outlined .jf-textfield__input {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 18px;
    top: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 4px;
}

/*
.jf-textfield__bottom-border  {
    border-bottom: 2px solid var(--color-active);
    height: 0;
    position: absolute;
    top: 46px;
    transition: width .1s ease-in 0s;
    width: 0;
}

.jf-textfield--focused .jf-textfield__bottom-border {
    width: 100%;
}
*/

.jf-textfield__label:after {
    background-color: var(--color-active);
    bottom: 0;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
    width: 10px;
}

.jf-textfield--focused {
    cursor: auto;
}

.jf-textfield--focused .jf-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.jf-textfield--outlined .jf-textfield__label:after {
    background-color: transparent;
    display: none;
}

/*
.jf-textfield:before {
  content: '';
  background-color: rgba(0,0,0,0.06);
  position: absolute;
  top: 0;
  bottom: 20px;
  width: calc(100% + 32px);
  z-index: -1;
  border-radius: 4px;
  margin-left: -16px;
}
*/

.jf-textfield:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: var(--color-inactive);
    /* background-color: transparent; */
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.jf-textfield--outlined.jf-textfield:after {
    display: none;
}

.jf-textfield:after:hover {
    background-color: var(--color-inactive);
}

.jf-textfield--focused:after {
    background-color: transparent;
}

.jf-textfield:hover:after {
    background-color: #222;
    height: 2px;
}

.jf-textfield--focused:hover:after {
    background-color: transparent;
}


.jf-textfield__helper-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    position: absolute;
    bottom: -16px;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.jf-textfield svg {
    position: absolute;
    top: 16px;
    right: 12px;
}

.jf-textfield--invalid svg {
    color: var(--color-invalid);
}


/*
.jf-textfield--outlined .jf-textfield__helper-text {
    padding-left: 12px;
}
*/

.jf-textfield--outlined .jf-textfield__label:after {
    display: none;
}


/* INVALID */


.jf-textfield--invalid .jf-textfield__label:after {
    background-color: var(--color-invalid);
}

.jf-textfield--invalid .jf-textfield__helper-text {
    color: var(--color-invalid);
}

.jf-textfield--invalid .jf-textfield__label {
    color: var(--color-invalid);
}

.jf-textfield--invalid:after {
    background-color: var(--color-invalid) !important;
}

.jf-textfield--invalid .jf-textfield__input {
    caret-color: var(--color-invalid);
}

.jf-textfield--outlined.jf-textfield--invalid {
    box-shadow: inset 0 0 0 2px var(--color-invalid);
}

/* DISABLED */


.jf-textfield--disabled {
    color: var(--color-inactive);
    background-color: #e0e0e0;
    cursor: default;
}

.jf-textfield--disabled:hover {
    background-color: #e0e0e0;
}

.jf-textfield--disabled:hover:after {
    background-color: transparent;
}

.jf-textfield--disabled:after {
    background-color: transparent;
    border-bottom: 1px dotted var(--color-inactive);
}

.jf-textfield--outlined.jf-textfield--disabled:hover {
    background: white;
}

.jf-textfield--hidden {
    display: none;
}

.jf-textfield--outlined.jf-textfield--disabled:after {
    display: none;
}

.jf-textfield--outlined.jf-textfield--disabled {
    background-color: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}
