.jf-textfield {
    --field-height: 56px;
    --label-top: 21px;
    --large-font-size: 16px;
    --side-padding: 12px;
    --filled-background: rgba(0, 0, 0, 0.09);
    --top-padding: 22px;
    --bottom-padding: 13px;
}

.jf-textfield--dense {
    --field-height: 44px;
    --label-top: 17px;
    --large-font-size: 12px;
    --side-padding: 8px;
    --top-padding: 22px;
    --bottom-padding: 13px;
}

.jf-textfield--dense.jf-textfield--outlined {
    --top-padding: 13px;
    --bottom-padding: 13px;
}

.jf-textfield--dense.jf-textfield--multiline {
    --top-padding: 22px;
    --bottom-padding: 6px;
}

.jf-textfield--multiline {
    --top-padding: 23px;
    --bottom-padding: 6px;
}


.jf-textfield {
    position: relative;
    height: var(--field-height);
    font-size: var(--large-font-size);
    display: inline-block;
    box-sizing: border-box;
    width: 280px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    background-color: var(--filled-background);
    color: #00000099;
    outline: none;
}

.jf-textfield--outlined {
    background-color: var(--form-background);
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.jf-textfield:hover {
    background-color: #dedede;
    color: #000000de;
}

.jf-textfield--focused.jf-textfield--outlined {
    box-shadow: 0 0 0 2px var(--color-active);
}

.jf-textfield--focused:hover {
    background-color: #e8e8e8;
    color: #00000099;
}

.jf-textfield--outlined:hover {
    background: var(--form-background);
}

.jf-textfield__input {
    border: none;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    outline: none;
    display: block;
    font-size: var(--large-font-size);
    font-family: var(--font-family);
    margin: 0;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    padding-top: var(--top-padding);
    padding-bottom: var(--bottom-padding);
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    caret-color: var(--color-active);
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--field-height);
    box-sizing: border-box;
}

.jf-textfield--focused .jf-textfield__input {
    /* color: var(--color-active); */
    color: inherit;
}

.jf-textfield--outlined.jf-textfield--empty .jf-textfield__label, .jf-textfield--empty .jf-textfield__label {
    top: var(--label-top);
    font-size: var(--large-font-size);
}

.jf-textfield--focused .jf-textfield__label {
    color: var(--color-active);
    visibility: visible;
    font-size: 12px;
    top: 10px;
}

.jf-textfield__label {
    color: var(--color-inactive);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    font-size: 12px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    bottom: 0;
    top: 6px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    box-sizing: border-box;
}

.jf-textfield--empty .jf-textfield__label {
    font-size: var(--large-font-size);
}

.jf-textfield--outlined .jf-textfield__label {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    left: var(--side-padding);
    bottom: auto;
    right: auto;
    width: auto;
    background-color: var(--form-background);
}

.jf-textfield--focused.jf-textfield--outlined .jf-textfield__label {
    top: -7px;
    font-size: 12px;
}

.jf-textfield--focused .jf-textfield__label {
    top: 6px;
    font-size: 12px;
}

.jf-textfield--outlined .jf-textfield__label {
    top: -7px;
}

.jf-textfield--outlined .jf-textfield__input {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    padding-top: var(--top-padding);
    padding-bottom: var(--bottom-padding);
    border-radius: 4px;
}


.jf-textfield--multiline {
    min-height: var(--field-height);
    height: auto;
}

.jf-textfield--multiline
.jf-textfield__input {
    max-width: 100%;
    min-width: 100%;
    position: initial;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: var(--bottom-padding);
    line-height: 18px;
    display: block;
    height: auto;
}

.jf-textfield--json textarea {
    font-family: menlo, monospace;
}


/*
.jf-textfield__bottom-border  {
    border-bottom: 2px solid var(--color-active);
    height: 0;
    position: absolute;
    top: 46px;
    transition: width .1s ease-in 0s;
    width: 0;
}

.jf-textfield--focused .jf-textfield__bottom-border {
    width: 100%;
}
*/

.jf-textfield__label:after {
    background-color: var(--color-active);
    bottom: 0;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
    width: 10px;
}

.jf-textfield--focused {
    cursor: auto;
}

.jf-textfield--focused .jf-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.jf-textfield--outlined .jf-textfield__label:after {
    background-color: transparent;
    display: none;
}

/*
.jf-textfield:before {
  content: '';
  background-color: rgba(0,0,0,0.06);
  position: absolute;
  top: 0;
  bottom: 20px;
  width: calc(100% + 32px);
  z-index: -1;
  border-radius: 4px;
  margin-left: -16px;
}
*/

.jf-textfield:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: var(--color-inactive);
    /* background-color: transparent; */
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.jf-textfield--outlined.jf-textfield:after {
    display: none;
}

.jf-textfield:after:hover {
    background-color: var(--color-inactive);
}

.jf-textfield--focused:after {
    background-color: transparent;
}

.jf-textfield:hover:after {
    background-color: #222;
    height: 2px;
}

.jf-textfield--focused:hover:after {
    background-color: transparent;
}


.jf-textfield__helper-text {
}

.jf-textfield svg {
    position: absolute;
    top: 10px;
    right: var(--side-padding);
}

.jf-textfield--invalid svg {
    color: var(--color-invalid);
}

.jf-textfield--has-icon .jf-textfield__input {
    padding-right: 40px;
}


/*
.jf-textfield--outlined .jf-textfield__helper-text {
    padding-left: 12px;
}
*/

.jf-textfield--outlined .jf-textfield__label:after {
    display: none;
}


/* INVALID */


.jf-textfield--invalid .jf-textfield__label:after {
    background-color: var(--color-invalid);
}

.jf-textfield--invalid .jf-textfield__label {
    color: var(--color-invalid);
    animation: shake .5s linear;
}

.jf-textfield--invalid:after {
    background-color: var(--color-invalid) !important;
}

.jf-textfield--invalid .jf-textfield__input {
    caret-color: var(--color-invalid);
}

.jf-textfield--outlined.jf-textfield--invalid {
    box-shadow: 0 0 0 2px var(--color-invalid);
}

/* DISABLED */


.jf-textfield--disabled {
    color: var(--color-inactive);
    background-color: #e0e0e0;
    cursor: default;
}

.jf-textfield--disabled:hover {
    background-color: #e0e0e0;
}

.jf-textfield--disabled:hover:after {
    background-color: transparent;
}

.jf-textfield--disabled:after {
    background-color: transparent;
    border-bottom: 1px dotted var(--color-inactive);
}

.jf-textfield--outlined.jf-textfield--disabled:hover {
    background: var(--form-background);
}

.jf-textfield--outlined.jf-textfield--disabled:after {
    display: none;
}

.jf-textfield--outlined.jf-textfield--disabled {
    background-color: var(--form-background);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

 @keyframes shake {
    8%, 41% {
        transform: translateX(-4px);
    }
    25%, 58% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-1px);
    }
    92% {
        transform: translateX(1px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}
