<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JSON Form web-component demo</title>
  </head>
  <body>
    <json-form schema='{"type":"string","title":"Greeting","maxLength":5,"description":"Enter any greeting"}' value='"hello"'></json-form>
  </body>
</html>
